In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

temp = pd.read_csv('GroceryDataset.csv')
df1 = pd.DataFrame(temp)

In [15]:
df1

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
0,Bakery & Desserts,$56.99,No Discount,Rated 4.3 out of 5 stars based on 265 reviews.,"David’s Cookies Mile High Peanut Butter Cake, ...",$,"""10"""" Peanut Butter Cake\nCertified Kosher OU-...",A cake the dessert epicure will die for!Our To...
1,Bakery & Desserts,$159.99,No Discount,Rated 5 out of 5 stars based on 1 reviews.,"The Cake Bake Shop 8"" Round Carrot Cake (16-22...",$,Spiced Carrot Cake with Cream Cheese Frosting ...,"Due to the perishable nature of this item, ord..."
2,Bakery & Desserts,$44.99,No Discount,Rated 4.1 out of 5 stars based on 441 reviews.,"St Michel Madeleine, Classic French Sponge Cak...",$,100 count\nIndividually wrapped\nMade in and I...,Moist and buttery sponge cakes with the tradit...
3,Bakery & Desserts,$39.99,No Discount,Rated 4.7 out of 5 stars based on 9459 reviews.,"David's Cookies Butter Pecan Meltaways 32 oz, ...",$,Butter Pecan Meltaways\n32 oz 2-Pack\nNo Prese...,These delectable butter pecan meltaways are th...
4,Bakery & Desserts,$59.99,No Discount,Rated 4.5 out of 5 stars based on 758 reviews.,"David’s Cookies Premier Chocolate Cake, 7.2 lb...",$,"""10"" Four Layer Chocolate Cake\nCertified Kosh...",A cake the dessert epicure will die for!To the...
...,...,...,...,...,...,...,...,...
1752,Snacks,$23.99,No Discount,NaN,"Oberto Thin Style Smoked Sausage Stick, Cockta...",$,Cocktail Pepperoni Smoked Sausage Sticks 3...,Cocktail PepperoniSmoked Sausage Sticks3 oz ba...
1753,Snacks,$49.99,No Discount,NaN,"Cheetos Crunchy, Original, 2.1 oz, 64-count",$,Made with Real Cheese,64-count2.1 oz Bags
1754,Snacks,$22.99,No Discount,NaN,"Sabritas Chile & Limon Mix, Variety Pack, 30-c...",$,Chile & Limón Mix Variety Pack 30 ct Net...,8-Doritos Dinamita Chile Limón Flavored Rolled...
1755,Snacks,$17.49,No Discount,NaN,"Fruit Roll-Ups, Variety Pack, 72-count",$,Variety Pack 1 Box with 72 Rolls Flavore...,Fruit Flavored Snacks\nVariety Includes: Straw...
1756,Snacks,$21.99,No Discount,NaN,"Takis, Rolled Tortilla Chips, Intense Nacho, 1...",$,"Intense Nacho Cheese Non-Spicy 1 oz bag, 5...",Takis Non-Spicy Cheese Tortilla Chips\nIndivid...

In [16]:
# By passing column list you can get a new dataframe.
df1[['Sub Category', 'Price']]

           Sub Category     Price
0     Bakery & Desserts   $56.99
1     Bakery & Desserts  $159.99
2     Bakery & Desserts   $44.99
3     Bakery & Desserts   $39.99
4     Bakery & Desserts   $59.99
...                 ...       ...
1752             Snacks   $23.99
1753             Snacks   $49.99
1754             Snacks   $22.99
1755             Snacks   $17.49
1756             Snacks   $21.99

[1757 rows x 2 columns]

In [17]:
# sorts the dataframe by given argument.
df1.sort_values(by='Price')

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
1054,Meat & Seafood,"$1,099.99",No Discount,Rated 4.6 out of 5 stars based on 657 reviews.,"Japanese Wagyu Boneless Ribeye Roast, A5 Grade...",$,"1 A5 Grade, 12 lb. Boneless Ribeye Roast Imp...",When you take your first bite of our Wagyu Rib...
721,Gift Baskets,"$1,399.99",No Discount,Rated 4.6 out of 5 stars based on 57 reviews.,Plaza Osetra Kilo Caviar Pack,$,Vacuum sealed Caviar tin keeps 30 days unopene...,Plaza Osetra Kilo is an event sized tin of cav...
562,Deli,"$1,399.99",No Discount,Rated 4.6 out of 5 stars based on 57 reviews.,Plaza Osetra Kilo Caviar Pack,$,Vacuum sealed Caviar tin keeps 30 days unopene...,Plaza Osetra Kilo is an event sized tin of cav...
722,Gift Baskets,"$1,999.99",No Discount,Rated 5 out of 5 stars based on 2 reviews.,"Plaza Golden Osetra Caviar Kilo Pack, 35.2 oz",$,Vacuum sealed Caviar tin keeps 30 days unopene...,Plaza Golden Osetra Kilo is an event sized tin...
552,Deli,"$1,999.99",No Discount,Rated 5 out of 5 stars based on 2 reviews.,"Plaza Golden Osetra Caviar Kilo Pack, 35.2 oz",$,Vacuum sealed Caviar tin keeps 30 days unopene...,Plaza Golden Osetra Kilo is an event sized tin...
...,...,...,...,...,...,...,...,...
1053,Meat & Seafood,$999.99,No Discount,Rated 4.6 out of 5 stars based on 424 reviews.,"Japanese Wagyu New York Strip Loin Roast, A5 G...",$,"A5 Grade, 11 lb New York Strip Loin Roast Au...",Our Authentic Wagyu Striploin is artfully marb...
1059,Meat & Seafood,$999.99,No Discount,Rated 4.5 out of 5 stars based on 36 reviews.,"Japanese Wagyu Tenderloin Roast, A5 Grade, 6 lbs",$,"(1) A5 Grade, 6 lb Tenderloin Roast Authenti...",Our Tenderloin is the most delicate of all our...
1064,Meat & Seafood,NaN,.,Rated 4.5 out of 5 stars based on 4 reviews.,"Hillshire Farm Slow Roasted Turkey Breast, 11 ...",NaN,Gluten Free No Artificial Ingredients No N...,Available at your local Costco warehouse or cl...
1414,Poultry,NaN,.,Rated 4.5 out of 5 stars based on 4 reviews.,"Hillshire Farm Slow Roasted Turkey Breast, 11 ...",NaN,Gluten Free No Artificial Ingredients No N...,Available at your local Costco warehouse or cl...
1480,Snacks,NaN,Costco Members Receive an Additional $5 OFF Ca...,NaN,FITCRUNCH - Costco Next,NaN,Non-GMO Gluten Free Soy Free Flavor Mixo...,Shop Costco Next Chef Robert Irvine’s FITCRU...

In [18]:
# The .describe() method prints the summary statistics of all numeric columns, such as count, mean, standard deviation, range, and quartiles of numeric columns.
df1.describe()

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
count,1757,1754,1757,682,1757,1752,1739,1715
unique,19,184,42,483,1484,1,1401,1435
top,Snacks,$14.99,No Discount,No Reviews,"Ziploc Seal Top Freezer Bag, Gallon, 38-count,...",$,Pick Your Arrival Date at Checkout Gift Mess...,Item may be available in your local warehouse ...
freq,293,81,1626,61,4,1752,7,5

In [19]:
# You can also modify the quartiles using the percentiles argument. Here, for example, we’re looking at the 30%, 50%, and 70% percentiles of the numeric columns in DataFrame df.
df1.describe(percentiles=[0.3, 0.5, 0.7])

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
count,1757,1754,1757,682,1757,1752,1739,1715
unique,19,184,42,483,1484,1,1401,1435
top,Snacks,$14.99,No Discount,No Reviews,"Ziploc Seal Top Freezer Bag, Gallon, 38-count,...",$,Pick Your Arrival Date at Checkout Gift Mess...,Item may be available in your local warehouse ...
freq,293,81,1626,61,4,1752,7,5

In [21]:
# we can do a transpose of the describe() table by using .T
df1.describe().T

,count,unique,top,freq
Sub Category,1757,19,Snacks,293
Price,1754,184,$14.99,81
Discount,1757,42,No Discount,1626
Rating,682,483,No Reviews,61
Title,1757,1484,"Ziploc Seal Top Freezer Bag, Gallon, 38-count,...",4
Currency,1752,1,$,1752
Feature,1739,1401,Pick Your Arrival Date at Checkout Gift Mess...,7
Product Description,1715,1435,Item may be available in your local warehouse ...,5

In [ ]:
# You can also isolate specific data types in your summary output by using the include argument. Here, for example, we’re only summarizing the columns with the integer data type. you can use both include, exclude both.
df1.describe(include=[int])

## The .info() method is a quick way to look at the data types, missing values, and data size of a DataFrame.

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sub Category         1757 non-null   object
 1   Price                1754 non-null   object
 2   Discount             1757 non-null   object
 3   Rating               682 non-null    object
 4   Title                1757 non-null   object
 5   Currency             1752 non-null   object
 6   Feature              1739 non-null   object
 7   Product Description  1715 non-null   object
dtypes: object(8)
memory usage: 109.9+ KB

## The number of rows and columns of a DataFrame can be identified using the .shape attribute of the DataFrame. It returns a tuple (row, column) and can be indexed to get only rows, and only columns count as output.

In [29]:
print("Data in tuple form -> ", df1.shape) # Get the number of rows and columns
print ("Rows ->", df1.shape[0]) # Get the number of rows only
print ("Columns ->", df1.shape[1]) # Get the number of columns only

Data in tuple form ->  (1757, 8)
Rows -> 1757
Columns -> 8

## Calling the .columns attribute of a DataFrame object returns the column names in the form of an Index

In [30]:
df1.columns

Index(['Sub Category', 'Price', 'Discount', 'Rating', 'Title', 'Currency',
       'Feature', 'Product Description'],
      dtype='object')

In [31]:
list(df1.columns)

['Sub Category',
 'Price',
 'Discount',
 'Rating',
 'Title',
 'Currency',
 'Feature',
 'Product Description']

## The .copy() method makes a copy of the original DataFrame. This is done to ensure that any changes to the copy don’t reflect in the original DataFrame.

+ Loc Example:
  + Using .loc (to be discussed later), you can set rows two to five of the Pregnancies column to NaN values, which denote missing values.
    + example -> df2 = df.copy()
    + df2.loc[2:5,'Pregnancies'] = None
    + df2.head(7)
  + Given it's often more useful to know how much missing data you have, you can combine .isnull() with .sum() to count the number of nulls in each column.

In [46]:
df1.isnull().sum()

Sub Category              0
Price                     3
Discount                  0
Rating                 1075
Title                     0
Currency                  5
Feature                  18
Product Description      42
dtype: int64

In [47]:
df1.isnull()

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
1752,False,False,False,True,False,False,False,False
1753,False,False,False,True,False,False,False,False
1754,False,False,False,True,False,False,False,False
1755,False,False,False,True,False,False,False,False
1756,False,False,False,True,False,False,False,False

# Some more important points
+ Isolating one column using [ ] , df['Outcome']
+ Isolating two or more columns using [[ ]] , df[['Pregnancies', 'Outcome']]
+ Isolating one row using [ ] , df[df.index==1]
+ Isolating two or more rows using [ ] , df[df.index.isin(range(2,10))]

## Using .loc[] and .iloc[] to fetch rows
+ You can fetch specific rows by labels or conditions using .loc[] and .iloc[] ("location" and "integer location"). .loc[] uses a label to point to a row, column or cell, whereas .iloc[] uses the numeric position., *df2.index = range(1,769)*
+ You can also fetch multiple rows by providing a range in square brackets.

In [52]:
df1.loc[0:2]

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
0,Bakery & Desserts,$56.99,No Discount,Rated 4.3 out of 5 stars based on 265 reviews.,"David’s Cookies Mile High Peanut Butter Cake, ...",$,"""10"""" Peanut Butter Cake\nCertified Kosher OU-...",A cake the dessert epicure will die for!Our To...
1,Bakery & Desserts,$159.99,No Discount,Rated 5 out of 5 stars based on 1 reviews.,"The Cake Bake Shop 8"" Round Carrot Cake (16-22...",$,Spiced Carrot Cake with Cream Cheese Frosting ...,"Due to the perishable nature of this item, ord..."
2,Bakery & Desserts,$44.99,No Discount,Rated 4.1 out of 5 stars based on 441 reviews.,"St Michel Madeleine, Classic French Sponge Cak...",$,100 count\nIndividually wrapped\nMade in and I...,Moist and buttery sponge cakes with the tradit...

In [51]:
df1.iloc[0]

Sub Category                                           Bakery & Desserts
Price                                                            $56.99
Discount                                                     No Discount
Rating                    Rated 4.3 out of 5 stars based on 265 reviews.
Title                  David’s Cookies Mile High Peanut Butter Cake, ...
Currency                                                               $
Feature                "10"" Peanut Butter Cake\nCertified Kosher OU-...
Product Description    A cake the dessert epicure will die for!Our To...
Name: 0, dtype: object

## You can also subset with .loc[] and .iloc[] by using a list instead of a range.

## These are some important points which should be remembered - 
+ You can also select specific columns along with rows. This is where .iloc[] is different from .loc[] – it requires column location and not column labels.
+ For faster workflows, you can pass in the starting index of a row as a range.
  + df2.loc[760:, ['Pregnancies', 'Glucose', 'BloodPressure']]

In [53]:
df1.loc[[1,2,3]]

,Sub Category,Price,Discount,Rating,Title,Currency,Feature,Product Description
1,Bakery & Desserts,$159.99,No Discount,Rated 5 out of 5 stars based on 1 reviews.,"The Cake Bake Shop 8"" Round Carrot Cake (16-22...",$,Spiced Carrot Cake with Cream Cheese Frosting ...,"Due to the perishable nature of this item, ord..."
2,Bakery & Desserts,$44.99,No Discount,Rated 4.1 out of 5 stars based on 441 reviews.,"St Michel Madeleine, Classic French Sponge Cak...",$,100 count\nIndividually wrapped\nMade in and I...,Moist and buttery sponge cakes with the tradit...
3,Bakery & Desserts,$39.99,No Discount,Rated 4.7 out of 5 stars based on 9459 reviews.,"David's Cookies Butter Pecan Meltaways 32 oz, ...",$,Butter Pecan Meltaways\n32 oz 2-Pack\nNo Prese...,These delectable butter pecan meltaways are th...

In [55]:
df1.loc[1:5, ['Sub Category', 'Price', 'Currency']]

        Sub Category     Price Currency
1  Bakery & Desserts  $159.99         $
2  Bakery & Desserts   $44.99         $
3  Bakery & Desserts   $39.99         $
4  Bakery & Desserts   $59.99         $
5  Bakery & Desserts   $59.99         $

In [57]:
df1.iloc[100:110, :3]

          Sub Category     Price     Discount
100  Beverages & Water   $29.99   No Discount
101  Beverages & Water   $18.99   No Discount
102  Beverages & Water   $37.99   No Discount
103  Beverages & Water   $19.99   No Discount
104  Beverages & Water  $139.99   No Discount
105  Beverages & Water   $18.99   No Discount
106  Beverages & Water   $37.99   No Discount
107  Beverages & Water  $159.99   No Discount
108  Beverages & Water   $19.99   No Discount
109  Beverages & Water   $13.79   No Discount

## You can update/modify certain values by using the assignment operator =
+ df2.loc[df['Age']==81, ['Age']] = 80

## Conditional slicing (that fits certain conditions)
+ pandas lets you filter data by conditions over row/column values.
+ Example => df[df.BloodPressure == 122]
+ You can use a > operator to draw comparisons.
+ Example => df.loc[df['BloodPressure'] > 100, ['Pregnancies', 'Glucose', 'BloodPressure']]

# Cleaning data using pandas

In [81]:
(df1.isnull().sum())

Sub Category              0
Price                     3
Discount                  0
Rating                 1075
Title                     0
Currency                  5
Feature                  18
Product Description      42
dtype: int64

## Dealing with missing data technique #1: Dropping missing values
+ One way to deal with missing data is to drop it. This is particularly useful in cases where you have plenty of data and losing a small portion won’t impact the downstream analysis. You can use a .dropna() method

In [82]:
df3 = df1.copy()
df3 = df3.dropna()
print("Shape before dropping na value =>", df1.shape)
print("Shape after dropping na =>",df3.shape)

Shape before dropping na value => (1757, 8)
Shape after dropping na => (673, 8)

* Important note point.
* The axis argument lets you specify whether you are dropping rows, or columns, with missing values. The default axis removes the rows containing NaNs. 
* Use axis = 1 to remove the columns with one or more NaN values. Also, notice how we are using the argument inplace=True which lets you skip saving the output of .dropna() into a new DataFrame.
* You can also drop both rows and columns with missing values by setting the how argument to 'all'

In [93]:
# Those columns are dropped which has na values by keeping axis=1, and by default axis=0 and inplace=False
df4 = df1.copy()
df4.dropna(inplace=True, axis=1)
df4

,Sub Category,Discount,Title
0,Bakery & Desserts,No Discount,"David’s Cookies Mile High Peanut Butter Cake, ..."
1,Bakery & Desserts,No Discount,"The Cake Bake Shop 8"" Round Carrot Cake (16-22..."
2,Bakery & Desserts,No Discount,"St Michel Madeleine, Classic French Sponge Cak..."
3,Bakery & Desserts,No Discount,"David's Cookies Butter Pecan Meltaways 32 oz, ..."
4,Bakery & Desserts,No Discount,"David’s Cookies Premier Chocolate Cake, 7.2 lb..."
...,...,...,...
1752,Snacks,No Discount,"Oberto Thin Style Smoked Sausage Stick, Cockta..."
1753,Snacks,No Discount,"Cheetos Crunchy, Original, 2.1 oz, 64-count"
1754,Snacks,No Discount,"Sabritas Chile & Limon Mix, Variety Pack, 30-c..."
1755,Snacks,No Discount,"Fruit Roll-Ups, Variety Pack, 72-count"
1756,Snacks,No Discount,"Takis, Rolled Tortilla Chips, Intense Nacho, 1..."

## Dealing with missing data technique #2: Replacing missing values.
+ Instead of dropping, replacing missing values with a summary statistic or a specific value (depending on the use case) maybe the best way to go. For example, if there is one missing row from a temperature column denoting temperatures throughout the days of the week, replacing that missing value with the average temperature of that week may be more effective than dropping values completely.

In [91]:
df3 = pd.DataFrame(temp)
# Get the mean of Pregnancies
mean_value = df3['Price'].mean()
# Fill missing values using .fillna()
df3 = df3.fillna(mean_value)

## Dealing with Duplicate Data
+ Let's add some duplicates to the original data to learn how to eliminate duplicates in a DataFrame. Here, we are using the .concat() method to concatenate the rows

In [94]:
df5 = pd.concat([df1, df1])
df5.shape

(3514, 8)

In [95]:
df5 = df5.drop_duplicates()
df5.shape

(1754, 8)

## Renaming columns
+ A common data cleaning task is renaming columns. With the .rename() method, you can use columns as an argument to rename specific columns. The below code shows the dictionary for mapping old and new column names.
+ Example -> df3.rename(columns = {'DiabetesPedigreeFunction':'DPF'}, inplace = True)

# Data analysis in pandas
+ we can use different aggregations like, mean, sum, min, max, median, mode
+ Counting using .value_counts(). Category values can be counted using the .value_counts() methods.
+ Turn off automatic sorting of results using sort argument (True by default). The default sorting is based on the counts in descending order.
+ df['Outcome'].value_counts(sort=False)
+ Aggregating data with .groupby() in pandas pandas lets you aggregate values by grouping them by specific column values. You can do that by combining the .groupby() method. Example -> df.groupby('Outcome').mean()

## Pivoting Tables
+ pandas also enables you to calculate summary statistics as pivot tables. This makes it easy to draw conclusions based on a combination of variables.
+ For example, for Pregnancies = 5 and Outcome = 0, the average BMI turns out to be 31.1.
+ pd.pivot_table(df, values="BMI", index='Pregnancies', columns=['Outcome'], aggfunc=np.mean)