In [1]:
from IPython.display import display
import pandas as pd
import csv

# creating a DataFrame
dict = {'Name' : ['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}
df = pd.DataFrame(dict)

# displaying the DataFrame
display(df)

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

In [46]:
rawInput = input("enter your input")
rawInput

In [36]:
temp_file = open('sample2.txt', 'a+')

In [39]:
temp_file.write('Prakhar mishra')

14

In [44]:
temp_file.write("I live in Kanpur, Uttar Pradesh")

31

In [49]:
temp_file = csv.reader('earning.csv')

In [50]:
temp_file

In [58]:
data_list = []
with open('username.csv', 'r') as file:
        csv_reader = csv.reader(file)
        for row in csv_reader:
                data_list.append(row)
data_list

[['Username; Identifier;First name;Last name'],
 ['booker12;9012;Rachel;Booker'],
 ['grey07;2070;Laura;Grey'],
 ['johnson81;4081;Craig;Johnson'],
 ['jenkins46;9346;Mary;Jenkins'],
 ['smith79;5079;Jamie;Smith'],
 [],
 ['vesson79', '9889', 'Smith', 'vesson']]

In [57]:
# writing to a csv file, we use with because it doesn't require to close manually, it automatically closes.
data_list = []
with open('username.csv', 'a', newline='') as file:
        csv_writer = csv.writer(file)
        csv_writer.writerow(['vesson79',9889,'Smith','vesson'])

In [59]:
# list comprehension
a = [1,2,3,4,5]
b = [x**2 for x in a]
b

[1, 4, 9, 16, 25]

In [60]:
#list slicing
b[0:3]

[1, 4, 9]

In [61]:
#lambda function
temp = [1,2,3,4,5]
print(list(map(lambda x: x**4, temp)))

[1, 16, 81, 256, 625]

In [62]:
# declaring a lambda functions
add = lambda x: x/2

In [63]:
# using lambda by naming and declaring it before only
list(map(add, temp))

[0.5, 1.0, 1.5, 2.0, 2.5]

In [67]:
# declaring a temporary array
data = [(1,2), (5,4), (9,3)]

In [71]:
# using sorted with lambda as key function
print("sorted on the basis of first element ",sorted(data, key=lambda x: x[0]))
print("sorted on the basis of second element ", sorted(data, key=lambda x: x[1]))

sorted on the basis of first element  [(1, 2), (5, 4), (9, 3)]
sorted on the basis of second element  [(1, 2), (9, 3), (5, 4)]

In [75]:
# using filter and lambda functions
temp_list = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x%2==0, temp_list))

[2, 4, 6, 8, 10]

In [76]:
temp_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
# immediately running lambda function
result = (lambda x, y, z: x+y+z)(1,2,3)
result

6

# Example: Filtering names starting with 'A'

In [78]:
names = ["Alice", "Bob", "Charlie", "David", "Eva"]
filtered_names = list(filter(lambda name: name.startswith('A'), names))
print(filtered_names)  # Output: ['Alice']

['Alice']

# Example: Filtering non-empty strings

In [80]:
words = ["apple", "", "orange", None, "grape"]
filtered_words = list(filter(lambda x: x and len(x), words))
print(filtered_words)  # Output: ['apple', 'orange', 'grape']

['apple', 'orange', 'grape']

# Getting unique values from a list using map and set

In [82]:
temp_list = list(map(int, input().split(' ')))
non_repeated_list = list(set(temp_list))
print('Original List :', temp_list)
print('Non Duplicate List :', non_repeated_list)

Original List : [1, 2, 3, 4, 5, 6, 6, 6]
Non Duplicate List : [1, 2, 3, 4, 5, 6]

# sorted with custom key

In [86]:
class Person:
        def __init__(self, name, age):
                self.name = name
                self.age = age
        def __str__(self):
                return f'{self.name} is {self.age} years'

people = [Person('Alice', 25), Person('Bob', 22), Person('Charlie', 30)]
sorted_people = sorted(people, key = lambda person: person.age)
[print(x) for x in sorted_people]

Bob is 22 years
Alice is 25 years
Charlie is 30 years

[None, None, None]

# Usage of Reduce Function

In [90]:
from functools import reduce
li  = [5, 8, 10, 20, 50, 100]
sum1 = reduce((lambda x, y: x + y), li)
print('The sum of the li is:-', sum1)

The sum of the li is:- 193